@mixin rotate {
  transform: rotate(15deg);
}

@mixin sidebar-icons {
  .nav-item {
    &:last-child {
      margin-bottom: 1rem;
    }
    .nav-link {
      text-align: center;
      padding: 0.75rem 1rem;
      width: $sidebar-collapsed-width;
      span {
        font-size: 0.65rem;
        display: block;
      }
    }
    .dropdown-menu {
      position: absolute !important;
      transform: none !important;
      left: calc(#{$sidebar-collapsed-width} + 0.5rem) !important;
      margin: 0;
      &.dropup {
        bottom: 0;
        top: auto !important;
      }
    }
    &.dropdown .dropdown-toggle::after {
      display: none;
    }
  }
}

@mixin yellowButton {
  @include transition;
  background-color: $yellow;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 4px 9px 1px $buttonShadow;
  color: $black;
  cursor: pointer;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $yellow2;
    box-shadow: 0 12px 18px 4px $buttonHoverShadow;
    color: $black;
    transform: translateY(- 5px) translateZ(0);
  }
}

@mixin transition {
  transition: .55s cubic-bezier(.215, .61, .355, 1)
}

@mixin transition2 {
  transition: .35s cubic-bezier(.215, .61, .355, 1)
}

@mixin boxShadow {
  box-shadow: $shadow 2px 2px 26px 3px
}

@mixin boxShadow2 {
  box-shadow: $shadow 2px 6px 20px 2px
}


