// Color Variables
// Bootstrap Color Defaults
$gray-100: #f8f9fa !default;
$gray-200: #f2f2f2 !default;
$gray-300: #dee2e6 !default;
$gray-400: #a7a6a5 !default;
$gray-500: #adb5bd !default;
$gray-600: #4f4f4f !default;
$gray-700: #495057 !default;
$gray-800: #222222 !default;
$gray-900: #212529 !default;

$blue: #8dafd6 !default;
$indigo: #6610f2 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 56px;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 225px;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 90px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 80px;

// ================
// Variables: Colors
// ================

// Main Colors
$yellow: #fcb416 !default;
$purple: #3d2c6f !default;
$black: #222 !default;
$white: #fff !default;

  // Shades
$purple2: #695a94;
$purple3: #bdafd6;
$purple4: #bdafe4;

$yellow2: #ffcf60;
$yellow3: #ffe3a2;

$gray: #a7a6a5;
$gray2: #4f4f4f;
$gray3: #383838;

$buttonShadow: rgba(120, 75, 30, .6);
$buttonHoverShadow: rgba(157, 115, 54, .5);
$shadow: rgba(34, 34, 34, .65);
