// #################################
// The Coding Ninja: Contact Stylesheet
// #################################


// ================
// Contact Page
// ================

body.contact
  background: linear-gradient($purple4, transparent 60%, rgba(255, 207, 96, .4) 90%)
  body
    background: none

  h1
    text-align: center
    margin-bottom: 1rem

  p
    text-align: center
    margin-bottom: 1rem

  nav
    position: relative

  #contact-form
      +transition
      +boxShadow
      background-color: $purple
      border: 2px solid $purple4
      border-radius: 5px
      height: auto
      width: 40vw
      padding: 2rem

      label
        display: block

      input
        width: 100%

      small
        display: block
        padding-bottom: 1rem
        color: $yellow2

      textarea
        width: 100%
        background-color: $purple

      button
        +yellowButton
        border-radius: 5px
        margin-top: 2rem
        padding: 0 3rem
        display: block
        margin-left: auto
        margin-right: auto

  @media screen and (max-width: 1024px)
      #contact-form
        width: 60vw

  @media screen and (max-width: 1024px)
      #contact-form
        width: 80vw
