@import variables

// =========================
// Course Page
// =========================

.main_course
	+column(center, center)
	+transition
	//height: 100vh
	background: url('../images/photos/Asset1.png') no-repeat 50% 10%
	background-size: cover // I'ts PNG format
	height: 53rem
	padding: 2rem 0
	width: 100%
	z-index: 0
	//	// Fix it later with SVG
	.course_title
		color: $white
		margin: 0 0 2rem
		//position: absolute
		//top: 7rem
	h2
		font-variant: small-caps
	.owl-carousel, .owl-stage
		//height: 100%
		//width: 100%
	.owl-carousel .owl-stage-outer
		overflow: visible
		width: 100%
		//max-width: 1700px
	.owl-carousel.owl-loaded
		+row(center, center)
	.course_sections
		+shadow2
		+transition
		background-color: $black
		border-radius: .3rem
		height: 23rem
		width: 40rem
		padding: 3.2rem 4.5rem
		//width: 100%
		.section_text
			+column(flex-start, inherit)
			+transition
			color: $white
			min-height: 13rem
			width: 100%
			#section_title
				+transition
				color: $yellow
				letter-spacing: .2em
				padding-bottom: 3rem
		.section_info
			+row(center, space-evenly)
			+transition
			color: $purple4
			width: 100%
			&:not(.active)
				transform: scale(.7)
			p
				+column(flex-start, space-between)
			>div
				+column(flex-start, space-between)
				line-height: 1.2rem
				div
					+row
					span
						color: $yellow
					img
						display: inline
						transform: translateY(0rem)
						width: 1rem
			button
				+yellowButton
				border-radius: 5rem
	.owl-item
		+transition
	.owl-item.active.center > .item
		background-color: $purple
	.owl-item:not(.active),.owl-item:not(.center)
		transform: scale(.7)
//
// content: url(../images/svg/thrown.svg)

.courses_paginator
	+row(center, center)
	+transition
	transform: translateX(calc(50% - 400px))
	height: auto
	margin-top: 3rem
	width: 100%
	li > a
		+row(center, center)
		border-radius: 50%
		color: $black
		//font-size: 1.4rem
		height: 40px
		line-height: 40px
		margin: 0 .5rem
		padding: 0
		text-align: center
		width: 40px
		&:active,
		&:focus
			background-color: $purple3
		&:hover
			color: $yellow



.owl-prev, .owl-next
	+transition
	background-color: $yellow
	border: 0
	border-radius: 50%
	color: $purple
	cursor: pointer
	//font-size: 20px
	height: 35px
	line-height: 35px
	margin: 0 1.5rem
	outline: none
	width: 35px

.owl-prev::after
	content: url('../images/icons/previous.png')
.owl-next::after
	content: url('../images/icons/next.png')

.course_contents
	+row(center, space-evenly)
	+transition
	padding: 2rem

.course_ninja_img
	+transition
	height: 565.461px
	width: 588.683px

.contents_links
	+transition
	+row(center, flex-start)
	padding: .8rem 0
	width: 100%

.course_content_text h2
	+transition
	+row(inherit, flex-end)
	bottom: -20%
	font-variant: small-caps
	font-weight: 700
	left: 55%
	position: absolute

.paths_text
	+transition
	color: $black
	font-family: inherit
	margin-left: .5rem

.current_text
	color: $yellow

.course_path
	+transition
	+row(center, space-between)
	width: 45%

.path_1::before
	background: $yellow
	content: ''
	height: 435px
	margin: 0 13.5px
	position: absolute
	width: 3px
	z-index: -1

.path_2::before
	background: $yellow
	content: ''
	height: 435px
	margin: 0 13.5px
	position: absolute
	width: 3px
	z-index: -1

.dotout
	+column(center, center)
	+transition
	background-color: $purple
	border: solid 1.2px $yellow
	border-radius: 50%
	height: 31px
	width: 31px

.dotin
	+transition
	background-color: $purple2
	border-radius: 50%
	height: 17px
	width: 17px

.previous
	background-color: $purple4

.current
	background-color: $yellow

#course_active
	color: $yellow
//
////#main_course
////	height: 46rem
////	overflow: hidden
////	padding-top: 4rem
////	.owl-stage
////		+row(center, space-evenly)
////	.owl-item
////		+boxShadow
////		+row(center, center)
////		background-color: $black
////		color: $white
////		height: 27rem
////		line-height: 2rem
////		margin: 0 .33%
////		width: 33%
////	>h3
////		padding: 3rem 6rem
//////.owl-item
//////	color: $yellow
//////	margin-left: 2rem
//////	width: 25%
//////.storytellerInfo
//////	+column(center, center)
//////	font-family: Ubuntu Mono, monospace
//////	.storyTellerStats
//////		+row(center, center)
//////		//.ninjaRank
//////		//	margin-bottom: .35rem
//////		sup
//////			margin-right: 1rem
//////		p
//////			font-family: Ubuntu Mono, monospace
//////	.ninjaPoints
//////		+row(center, center)
//////		max-width: 7rem
//////.story
//////	padding: 3rem 2rem 3rem 4rem
//////	width: 65%
