// #################################
// The Coding Ninja: Course Stylesheet
// #################################

@import variables

body.course
	background: linear-gradient($yellow2, $white 60%)
	
.main_course
	+column(center, center)
	//+transition
	//height: 100vh
	background: url("../../images/jsHeader.svg") no-repeat
	background-size: contain
	height: 55rem
	margin-bottom: 5rem
	padding: 2rem 0
	width: 100%
	z-index: 0

	.course_title
		color: $white
		margin: 0 0 2rem

	h2
		font-variant: small-caps
	.owl-carousel
		transform: translateY(8rem)
	.pagination_container
		transform: translateY(6rem)

	.pagination_container
		margin-left: -2rem
	.owl-carousel, .owl-stage
		overflow: hidden
		//height: 100%
		//width: 100%
		height: 450px
	.owl-carousel .owl-stage-outer
		overflow: hidden
		width: 100%
		//max-width: 1700px
	.owl-carousel.owl-loaded
		+row(center, center)
	.course_sections
		+shadow2
		//+transition
		//width: 100%
		background-color: $black
		border-radius: .3rem
		height: 100%
		padding: 2rem
		transform: translateY(2rem)
		width: 100%
		.section_text
			+column(flex-start, inherit)
			//+transition
			color: $white
			min-height: 13rem
			width: 100%
			#section_title
				+transition
				color: $yellow
				letter-spacing: .2em
				padding-bottom: 3rem
		.section_info
			+row(center, space-between)
			//+transition
			color: $purple4
			width: 100%
			&:not(.active)
				//transform: scale(.7)
			p
				+column(flex-start, space-between)
			>div
				+column(flex-start, space-between)
				line-height: 1.2rem
				div
					+row
					span
						color: $yellow
					img
						display: inline
						transform: translateY(0rem)
						width: 1rem
			button
				+yellowButton
				border-radius: 5rem
	.owl-item
		+transition
	.owl-item.active.center > .item
		background-color: $purple
	.owl-item:not(.active),.owl-item:not(.center)
		transform: scale(.7)

// content: url(../images/svg/thrown.svg)

.courses_paginator
	+row(center, center)
	+transition
	height: auto
	margin-top: 3rem
	transform: translateX(calc(50% - 400px))
	width: 100%
	li > a
		+row(center, center)
		//font-size: 1.4rem
		border-radius: 50%
		color: $black
		height: 40px
		line-height: 40px
		margin: 0 .5rem
		padding: 0
		text-align: center
		width: 40px
		&:active,
		&:focus
			background-color: $purple3
		&:hover
			color: $yellow



.owl-prev, .owl-next
	+transition
	//font-size: 20px
	background-color: $yellow
	border-radius: 50%
	border: 0
	color: $purple
	cursor: pointer
	height: 35px
	line-height: 35px
	margin: 0 1.5rem
	outline: none
	width: 35px

.owl-prev::after
	content: url('../../images/icons/previous.png')
.owl-next::after
	content: url('../../images/icons/next.png')

.course_contents
	+row(center, space-evenly)
	+transition
	padding: 2rem

.course_ninja_img
	+transition
	height: auto
	width: 40%
	max-width: 360px

#courseContents
	+column(stretch, space-between)
	width: 60%
	padding: 0 3rem
	margin-bottom: 3rem

.contents_links
	+transition
	+row(center, flex-start)
	padding: .8rem 0
	width: 100%

.course_content_text h2
	+transition
	+row(inherit, flex-start)
	margin-bottom: 3rem
	font-variant: small-caps
	font-weight: 700
	//left: 55%
	//position: absolute

.paths_text
	+transition
	color: $black
	font-family: inherit
	margin-left: .5rem

.current_text
	color: $yellow

.course_path
	+transition
	+row(center, space-between)
	//width: 45%

.path_1::before,.path_2::before
	background: $yellow
	content: ''
	height: 345px
	margin: 0 13.5px
	position: absolute
	width: 3px
	z-index: -1


