// #################################
// The Coding Ninja: General Stylesheet
// #################################

@import variables

// ================
// Typography
// ================
html, body
	background: $white fixed
	font-family: Ubuntu Mono, monospace, sans-serif
	font-size: 100% 
input, p, textarea
	font-family: Ubuntu Mono, monospace, sans-serif
	font-size: 1rem

p
	&.prominent
		font-size: 1.2rem
		line-height: 2rem

h1, h2, h3, h4, h5, h6, button, .button, a
	font-family: Montserrat, sans-serif
	font-weight: 700

h1
	font-size: 2.8rem

h2, strong
	font-size: 2.2rem

h3
	font-size: 1.6rem

h4
	font-size: 1.2rem

h5
	font-size: 1rem

button
	font-size: .9rem

small
	color: $yellow2
	font-weight: 700



// ================
// General
// ================

*
	box-sizing: border-box
	margin: 0
	padding: 0

body
	overflow-x: hidden
	width: 100%

a
	text-decoration: none

ul
	list-style: none

section
	//height: 100vh

input, textarea
	+transition
	background-color: $purple
	border: 1px solid $white
	border-radius: 5px
	color: $white
	height: auto
	margin-bottom: 1rem
	padding: 1rem
	width: 18rem
	&:hover:not(:disabled), &:active:not(:disabled), &:focus:not(:disabled)
		border-color: $yellow2
		box-shadow: 0 0 0 1px $yellow2
		color: $yellow2
		outline: none
	&::-webkit-input-placeholder
		+transition
		color: $white
	&:hover:not(disabled)
		&::-webkit-input-placeholder
			+transition
			color: $yellow2
input:disabled
	border: 0
	padding: 0

// ================
// Scrollbar
// ================

//For Firefox (sort of)
html
	scrollbar-color: $yellow $black

//For Chrome & Safari
::-webkit-scrollbar
	-webkit-appearance: none
	height: 14px
	width: 14px
::-webkit-scrollbar-thumb
	background: linear-gradient(to bottom, $yellow2, $yellow 50%) 
	border-radius: 3px
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
::-webkit-scrollbar-track
	background: linear-gradient(to right, #1d1d3a, #201c29 1px, #100e17 1px, $black)



// ================
// Navigation Bar
// ================


.home, .course
	#logoTag
		fill: $white!important
	#logoWhiteBorder
		stroke: $white!important
	#logopaths
		fill: $white!important

.home, .course, .library
	#menuSVG
		fill: $white !important

nav
	+row(inherit, space-between)
	max-width: 1700px
	padding: 2rem 6rem
	position: absolute
	width: 100%
	z-index: 5
	.logoBox
		+row(inherit, inherit)
		.logo
			padding: 0
			transform: translateY(-.5rem)
			width: 19rem
	.linksBox
		+row(inherit, inherit)
		transition: width .6s $ease, opacity .6s $ease
		width: 23rem
	.links
		+row(center, space-between)
		width: 100%
		.link > ax
			color: $black
			font-size: 1rem
			font-weight: 600
			text-transform: uppercase
			transition: color $ease .55s
			&:hover
				color: $yellow
		.signIn
			&:link, &:visited
				+yellowButton
				border-radius: 10rem
				padding: .9rem 1.5rem
				position: relative
	.burger
		opacity: 0
	label
		display: none
		cursor: pointer
		path
			+transition
		&:hover
			path
				fill: $yellow
	.burger:checked
		& +label
			display: block
			position: fixed
			right: 2rem
			top: 2rem
			width: 2.5rem
			z-index: 1
			path
				fill: white
		& +label + .linksBox
			opacity: 1
			transform: scale(1)
			background-color: $black
			position: fixed
			width: 50%
			height: 100%
			top: 0
			right: 0
			z-index: 0

@media all and (max-width: 1024px)
	nav
		padding: 2rem
		color: $black
		.logoBox .logo
			z-index: 5
			position: absolute
			transform: translate(-1.25rem, -1.75rem) scale(.9)
		#navLogo
			#logoText
				display: none
		.linksBox
			width: 0 //HAS TO CHANGE
			transform: scale(0)
			opacity: 0
			.links
				+column(center, space-evenly )
		label
			display: block
			position: absolute
			right: 2rem
			top: 2rem
			width: 2.5rem

.home nav > div.linksBox > ul > li a, .course nav > div.linksBox > ul > li a
	color: $white

// ================
// Section: Footer
// ================

footer
	+column(space-between, center)
	background: url('../../images/hills.svg') no-repeat 42% bottom
	background-size: 64%
	height: 10rem
	padding: 10px 6rem
	position: relative
	width: 100%
	>div, svg
		height: 8rem
	>div
		width: 100%
	div
		+row(flex-end, space-between)

.left_foot
	+column(flex-start, space-between)
	height: 4.5rem
	max-width: 20rem
	img
		height: 2.8rem
		margin: 0 auto
.right_foot
	+column(flex-end, space-between)
	height: 6.5rem
	text-align: right
	.social img
		+transition
		width: 2rem
		&:hover
			+transition
			filter: brightness(300%)
	.social a:nth-of-type(2) img
		margin: 0 1rem
	.footerLinks a
		+transition
		border-bottom: solid 3px transparent
		color: $black
		font-size: .9rem
		letter-spacing: -1px
		margin: 0 0 0 1rem
		&:hover
			border-bottom: solid 3px $black

#hills
	bottom: 0
	left: calc(50% - 20vw)
	position: absolute
	width: 40vw


// ================
// Section: Course & Quiz
// ================


.dotout
	+column(center, center)
	+transition
	background-color: $purple
	border: solid 1.5px $yellow
	border-radius: 50%
	cursor: pointer
	height: 31px
	width: 31px
	// ---- On Hover Yellow Outline ----- //
	&::before
		+transition
		border: solid 1px transparent
		border-radius: 50%
		content: ''
		height: 31px
		position: absolute
		width: 31px
	&:hover::before
		border-color: $yellow
.lockedDot
	cursor: unset
	&::before
		border: solid 1px transparent
	&:hover::before
		border: solid 1px transparent

.dotin
	+transition
	background-color: $purple4
	border-radius: 50%
	height: 17px
	width: 17px

.lockedDot span
	background-color: $purple2

.activeDot span
	background-color: $yellow

.previous
	background-color: $purple4

.current
	background-color: $yellow

#course_active
	color: $yellow