// #################################
// The Coding Ninja: Home Stylesheet
// #################################

@import variables

// ================
// Section: Welcome
// ================
body
	&.home
		background: linear-gradient(to bottom, $white 0%, rgba(255, 255, 255, .95) 12%, rgba(252, 196, 74, .4) 40%, rgba(108, 82, 255, .16) 60%, rgba(108, 82, 255, .16) 100%) fixed
		body
			background: url('../../images/footerHomeBack.svg') no-repeat center bottom fixed
			background-size: cover
#stars, #moon, #clouds, #land, #ninjaPillar, #landFront
	//min-height: 50rem
	background-size: cover
	height: 50rem
	min-width: 100vw
	position: absolute
	top: 0

#stars
	background: url('../../images/stars.svg') no-repeat center center
	background-size: cover

#moon
	background: url('../../images/moon.svg') no-repeat  65%  top
	background-size: cover

#clouds
	background: url('../../images/clouds.svg') no-repeat 40% center
	background-size: cover
	min-width: 130vw


#land
	background: url('../../images/land.svg') no-repeat center center
	background-size: cover
	height: 53rem

#ninjaPillar
	background: url('../../images/ninjaPillar.svg') no-repeat 40% 122%
	background-size: 15rem
	height: 55rem

#welcome
	+transition
	background: $darkPurple url('../../images/sky.svg') no-repeat 65% top fixed
	background-size: cover
	height: 55rem
	padding-top: 12rem
	#welcomeContainer
		+transition
		+row(center, space-between)
		padding: 0 6rem 20rem
		position: absolute
		width: 100%
		z-index: 2
		.welcomeRegister
			z-index: 2
			.hidden
				visibility: hidden
		#welcomeText
			+transition
			color: $white
			text-shadow: $black 0 0 9px
			transform: translateY(-12.75rem)
			width: 22rem
			h1, h2:first-of-type
				font-variant: small-caps
#welcomeFront
	position: absolute
	top: 60rem
	//transform: translateY(-130vh)
	z-index: 0

#entranceForms
	+column(center, inherit)
	+transition
	+boxShadow
	background-color: $purple
	border: 2px solid $purple4
	border-radius: 5px
	height: 34rem
	width: 22rem
	input
		padding: 1rem 1rem 1rem 2.5rem
	form:not(.visibleForm)
		display: none
	form.visibleForm
		+column(center, space-between)
		+transition
		background-color: transparent
		border: 0
		border-radius: 5px
		box-shadow: none
		height: 26rem
		justify-content: space-evenly
		width: 22rem
	img
		height: 20px
		max-width: 20px
		transform: translate(-7.75rem, 2.1rem)
		transition: height .55s .4s $ease
	.formButton
		+transition
		+yellowButton
		margin: 1rem 0 2rem
		&:hover
			box-shadow: 0 12px 18px 4px rgba(125, 104, 73, .5)

	& > h2
		+transition
		color: $white
		font-variant: small-caps
		height: 5rem
		padding: 2.5rem 3rem
	span a
		+transition
		color: $white
		cursor: pointer
		display: block
		font-family: Ubuntu Mono, monospace
		font-size: 1rem
		margin-bottom: 2rem
		margin-top: - 1 rem
		text-align: center
		&:hover
			color: $yellow
	.hr
		background-color: $white
		border: 0
		color: $white
		height: 1px
		width: 18rem
	.terms
		color: $white
		padding-top: .25rem
	.terms > a:visited, .terms > a:active, .terms > a:link
		+transition
		color: $white
		font-family: Ubuntu Mono, monospace
		font-size: .8rem
		font-weight: 100
		padding: 1rem 0
		&:hover
			color: $yellow

#entranceForms #login img
	transform: translate(-7.75rem, 2.8rem)

#welcomeBackGradient
	margin: 0 auto
	min-width: 45rem
	position: absolute
	top: 80vh


#formTabs
	+row(center, center)
	color: $purple3
	font-family: Montserrat, sans-serif
	font-size: 1.4rem
	font-variant: small-caps
	margin-bottom: 2rem
	width: 100%
	div
		+row(center, center)
		+transition
		background-color: $gray3
		color: $gray
		cursor: pointer
		height: 4rem
		width: 50%
	div.checked
		background-color: $purple
		color: $white
		//div:not(.checked)
		//box-shadow: rgba(34, 34, 34, .65) 2px 2px 26px 3px
	div:hover:not(.checked)
		background-color: $purple2
		color: $purple4
	div:nth-of-type(1)
		border-right: $purple4 3px solid


// ================
// Section: How It Works
// ================

#howItWorks
	+transition
	+row(flex-start, space-between)
	max-height: 72rem
	padding: 10rem 6rem 0
	div, img
		z-index: 1
	//max-width: 40
	img
		+boxShadow
		margin-right: 0
		max-width: 50rem
		width: 55%
	div
		+column(center, space-between)
		height: 21rem
		margin-left: 2rem
		//max-width: 23rem
		transform: translateY(-1rem)
		width: 45%
		h1, p
			display: block
			width: 100%
		h3
			margin-bottom: 1rem
	h2
		margin-bottom: 3rem


// ================
// Section: Coding Journey
// ================

#journey
	+row(center, space-between)
	height: 95vh
	min-height: 45rem
	padding: 8rem


#journeyBox
	+column(flex-start, space-between)
	width: 60%
	z-index: 1
#journeyText
	+column(center, space-between)
	height: 100%
	padding-top: 2rem
	img
		height: 6rem
		width: 95%
		//padding: 1rem 0
		margin: 2rem 2rem 2rem 0
	button
		+yellowButton
		align-self: flex-start
		border-radius: 5px
		height: 3rem
		margin-top: 3rem
		padding: 0 1rem
		width: 13rem


#ninjaOnAJourney
	max-width: 21rem
	transform: translateY(-4rem)
	width: 50%
	z-index: 1

//.journey p
//width: 30


.ninjaStar
	background: url('../../images/icons/star.svg')
	background-size: contain
	display: block
	height: 1.5rem
	margin-left: 1rem
	width: 1.5rem



// ================
// Section: Ninja Stories
// ================
#ninjaStories
	height: 46rem
	overflow: hidden
	padding-top: 4rem
	.owl-stage
		+row(center, space-evenly)
	.ninjaStoryBox
		+boxShadow
		+row(center, center)
		background-color: $black
		color: $white
		height: 27rem
		line-height: 2rem
		margin: 0 .33%
		max-width: 750px
	>h3
		padding: 3rem 6rem
.storyteller
	color: $yellow
	margin-left: 2rem
	width: 25%
.storytellerInfo
	+column(center, center)
	font-family: Ubuntu Mono, monospace
	.storyTellerStats
		+row(center, center)
		//.ninjaRank
		//	margin-bottom: .35rem
		sup
			margin-right: 1rem
		p
			font-family: Ubuntu Mono, monospace
	.ninjaPoints
		+row(center, center)
		max-width: 7rem
.story
	padding: 3rem 2rem 3rem 4rem
	width: 65%

#ninjaStories .storyDots
	+row(center, center)
	margin-top: 3rem
	div
		+row(center, center)
		background-color: $purple4
		border: $purple2 .5px solid
		border-radius: 50%
		box-shadow: rgba(34, 34, 34, .25) 0 1px 4px 2px
		height: 22px
		margin: 0 .5rem
		width: 22px
		span
			+transition
			background: none
			border-radius: 50%
			display: block
			height: 14px
			margin: 0
			width: 14px
		&:hover span
			background-color: $purple2
		&.active span
			background: $purple
.owl-item.ninjaStoryBox
	transition: transform $ease .3s
.owl-item.ninjaStoryBox:not(.center)
	transform: scale(.7)
// ================
// Section: THE CODING NINJAS
// ================

#firstFour
	+column(center, center)
	+transition
	height: inherit
	margin: 0 auto
	max-width: 1920px
	min-height: 100vh
	padding: 0 6rem


#firstFourTitle
	align-self: flex-start
	padding: 0 0 2rem


.webdevs_box
	+row(flex-start, space-between)
	+transition
	//	align-items: flex-end
	//	align-items: flex-start
	//	text-align: right
	//div:nth-of-type(2n)
	//div:nth-of-type(2n+1)
	flex-wrap: wrap
	text-align: left
	width: 100%


.dev_thumbnail
	+transition
	+column(inherit, inherit)
	margin: 2rem 2rem 0 0
	min-width: 12rem
	width: 13%
	p
		margin: 1rem 0 0
	img
		+transition
		width: 100%
	strong
		font-size: 1.8rem


.dev_thumbnail:last-of-type
	margin: 2rem 0 0


#becomeTeacher
	+column(flex-start, flex-start)
	align-items: flex-start
	margin-top: 5rem
	width: 100%
	button
		+yellowButton
		border-radius: 5px
		margin-top: 2rem
		padding: 0 2rem


// ================
// Section: Get Started
// ================

.getStarted
	+column(center, center)
	background: url('../../images/temple.svg') no-repeat left bottom
	background-size: contain
	min-height: 50rem
	padding: 10px
	transform: translateY(10rem)
	width: 100%

	button
		+yellowButton
		border-radius: 5px
		margin-top: 2rem
		padding: 0 2rem
		a
			color: $black
	div
		+column(center, flex-start)
		align-items: flex-start
		flex-direction: column
		margin: 0 auto
		transform: translate(5rem, -5rem)
		width: 19rem
