// #################################
// The Coding Ninja: Library Stylesheet
// #################################

@import variables

.library
    nav .link > a
        color: white

.library .library-container
    background: linear-gradient(#7f54f0, transparent 60%, rgba(255, 207, 96, 0.4) 90%)

.main_course_first
    +column(center,space-evenly)
    width: 100%
    //height: 1500px
    padding: 1rem 1rem
    z-index: 0
    background: url("../../images/libraryHeader.svg") no-repeat 100% 0
    background-size: 50rem

.courses_header_a
    text-transform: capitalize
    font-variant: small-caps
    display: block
    position: absolute
    top: 11rem
    right: 21rem
    color: white

.content_box_wrapper
    +column
    //max-width: 452px
    width: 452px
    padding:  0 2rem
    margin-bottom: 5rem
    a
        +transition

.content_box_wrapper.comingSoon
    filter: brightness(70%)
    cursor: not-allowed
    a
        cursor: not-allowed
    a:hover
        transform: none

.courses_box1_a
    +row(center,space-evenly)
    margin-top: 30rem
    margin-block-end: 5rem
    //height: 560px
    flex-wrap: wrap

// .courses_box2_a 

.course_title_a 
    +column(flex-start, space-between)
    border-radius: 5px
    border: 3px solid #bdafe4
    box-shadow: 2px 2px 26px 3px rgba(34, 34, 34, .65)
    height: 5rem
    padding: 1.6rem
    color: white
    background-color: $pomegranet
    letter-spacing: .4rem

.course_text_a 
    +column(center,space-between)
    box-shadow: 2px 2px 26px 3px rgba(34, 34, 34, .65)
    border-radius: 5px
    border: 3px solid #bdafe4
    height: 430px
    background-color: #3d2c70
    padding: 1.6rem
    color: white
    margin-top: 1rem
    p
        font-weight: 200
        line-height: 2.25rem
        span
            color: $yellow
.course_text_a >a
    color: white

.course_info_a
    +row(flex-end, space-between)
    width: 100%
    p:nth-of-type(2) span:nth-of-type(2):after
        content: ""
        background: url('../../images/icons/star.svg') no-repeat center center
        background-size: contain
        display: inline-block
        height: 2.25rem
        width: 1.5rem
        transform: translateY(.8rem)
    p:nth-of-type(2) span:nth-of-type(2)
        color: $white    
.content_box_wrapper a:hover
    +transition
    -ms-transform: scale(1.1)
    -webkit-transform: scale(1.1)
    transform: scale(1.1)
