//Owl Carousel - Core

.owl-carousel
	-webkit-tap-highlight-color: transparent
	//display: none
	position: relative
	width: 100%
	z-index: 1
	.owl-stage
		-moz-backface-visibility: hidden
		-ms-touch-action: pan-Y
		position: relative
		touch-action: manipulation
	.owl-stage::after
		clear: both
		content: '.'
		display: block
		height: 0
		line-height: 0
		visibility: hidden
	.owl-stage-outer
		-webkit-transform: translate3d(0, 0, 0)
		position: relative

	.owl-wrapper,
	.owl-item
		-moz-backface-visibility: hidden
		-moz-transform: translate3d(0, 0, 0)
		-ms-backface-visibility: hidden
		-ms-transform: translate3d(0, 0, 0)
		-webkit-backface-visibility: hidden
		-webkit-transform: translate3d(0, 0, 0)

	.owl-item
		-webkit-backface-visibility: hidden
		-webkit-tap-highlight-color: transparent
		-webkit-touch-callout: none
		float: left
		min-height: 1px
		position: relative

	.owl-item img
		display: block
		width: 100%

	.owl-nav.disabled,
	.owl-dots.disabled
		display: none

	.owl-nav .owl-prev,
	.owl-nav .owl-next,
	.owl-dot
		-moz-user-select: none
		-ms-user-select: none
		-webkit-user-select: none
		cursor: pointer
		user-select: none

	.owl-nav button.owl-prev,
	.owl-nav button.owl-next,
	button.owl-dot
		background: none
		border: 0
		color: inherit
		font: inherit
		padding: 0 !important

	&.owl-loaded
		display: block

	&.owl-loading
		display: block
		opacity: 0

	&.owl-hidden
		opacity: 0

	&.owl-refresh .owl-item
		visibility: hidden

	&.owl-drag .owl-item
		-moz-user-select: none
		-ms-user-select: none
		-webkit-user-select: none
		touch-action: pan-y
		user-select: none

	&.owl-grab
		cursor: move
		cursor: grab

	&.owl-rtl
		direction: rtl

	&.owl-rtl .owl-item
		float: right

//No Js
.no-js .owl-carousel
	display: block


//Owl Carousel - Animate Plugin

.owl-carousel
	.animated
		animation-duration: 1000ms
		animation-fill-mode: both

	.owl-animated-in
		z-index: 0

	.owl-animated-out
		z-index: 1

	.fadeOut
		animation-name: fadeOut


@keyframes fadeOut
	0%
		opacity: 1
	100%
		opacity: 0


//Owl Carousel - Auto Height Plugin


.owl-height
	transition: height 500ms ease-in-out


//Owl Carousel - Lazy Load Plugin


.owl-carousel
	.owl-item
		.owl-lazy
			opacity: 0
			transition: opacity 400ms ease
		.owl-lazy[src^=''], .owl-lazy:not([src])
			max-height: 0


		img.owl-lazy
			transform-style: preserve-3d


$color-base: #869791 !default
$color-white: #fff !default
$color-gray: #d6d6d6 !default

//nav

$nav-color: $color-white !default
$nav-color-hover: $color-white !default
$nav-font-size: 14px !default
$nav-rounded: 3px !default
$nav-margin: 5px !default
$nav-padding: 4px 7px !default
$nav-background: $color-gray !default
$nav-background-hover: $color-base !default
$nav-disabled-opacity: .5 !default

//dots

$dot-width: 10px !default
$dot-height: 10px !default
$dot-rounded: 30px !default
$dot-margin: 5px 7px !default
$dot-background: $color-gray !default
$dot-background-active: $color-base !default


.owl-theme
	// Styling Next and Prev buttons
	.owl-nav
		-webkit-tap-highlight-color: transparent
		margin-top: 10px
		text-align: center
		[class*='owl-']
			background: $nav-background
			border-radius: 3px
			color: $nav-color
			cursor: pointer
			display: inline-block
			font-size: $nav-font-size
			margin: $nav-margin
			padding: $nav-padding
			&:hover
				background: $nav-background-hover
				color: $nav-color-hover
				text-decoration: none

		.disabled
			cursor: default
			opacity: $nav-disabled-opacity

	// Styling dots
	.owl-nav.disabled + .owl-dots
		margin-top: 10px

	.owl-dots
		-webkit-tap-highlight-color: transparent
		text-align: center

		.owl-dot
			display: inline-block
			zoom: 1
			span
				-webkit-backface-visibility: visible
				background: $dot-background
				border-radius: $dot-rounded
				display: block
				height: $dot-height
				margin: $dot-margin
				transition: opacity 200ms ease
				width: $dot-width

			&.active,
			&:hover
				span
					background: $dot-background-active
