// #################################
// The Coding Ninja: Profile Stylesheet
// #################################

@import variables


// ================
// Profile Page 
// ================
body.profile  //60%
	background: linear-gradient($purple4, transparent 60%, rgba(255, 207, 96, .4) 90%)
	body
		background: none
#profileContainer
	+row(center, space-between)
	height: calc(100vh - 10rem)
	justify-content: space-evenly
	padding-top: 7rem

#profileDetails
	+column(flex-start)
	background-color: $purple
	border-radius: 5px
	height: 400px
	padding: 2rem 0
	width: 320px
#profileAvatar
	+column
	align-self: center
	padding: 1rem
	text-align: center
	svg
		width: 50%
	p
		color: $white
	&+div
		display: block
		margin-bottom: -1.25rem
		margin-top: 1rem
		width: 100%
		div
			border-left: solid transparent 6px
			color: $white
			cursor: pointer
			display: block
			margin-bottom: .75rem
			padding: .5rem 1rem .5rem calc(1rem - 6px)
			text-align: center
			transition: .4s cubic-bezier(.55, .06, .68, .19)
			width: 100%
			&:hover
				border-left: solid $yellow 6px
				color: $yellow
		.selected
			color: $yellow
.avatarRecipe
	width: 75%

#profileForm
	@extend #profileDetails
	+boxShadow
	+column
	color: $white
	min-width: 20rem
	padding: 2rem
	#signOut
		justify-self: flex-end
		transform: translateY(2rem)
	button
		+yellowButton
		height: 3rem
		display: block
		margin: .5rem auto
	p
		padding: .5rem 0
		width: 100%

	>div
		+column(center, space-between)
		height: 0
		justify-content: space-evenly
		transform: scale(0)
		div
			margin: .5rem 0
	#profileInfo
		+column
		text-align: center
		input
			text-align: center
	input:disabled
		margin: 0
		padding: 0
	h4
		color: $yellow
	#changeMail
		+column(unset, center)
		#newEmail
			margin-top: 1rem
	.profileVisible
		height: 100%
		transform: scale(1)
#avatarsId_0
	width: 12rem
.head, .skinOut, .stripes, svg .background, .expressions >g
	+transition
