// #################################
// The Coding Ninja: Quiz Stylesheet
// #################################

@import variables


#quizBox
	+transition
	+column
	//background-color: $white
	background: linear-gradient(#d2b4ff, $white 90%)
	display: none
	min-height: 100vh
	opacity: 0
	padding: 5rem 0
	position: absolute
	top: 0
	transform: scale(1)
	width: 100%
	z-index: 10


#quiz
	+row(flex-start,space-between)
	//background: red
	//height: 100vh
	//padding: 0rem
	//transform: translateX(-60px)
	height: 800px
	max-width: 78rem
	min-width: 320px
	width: 80%

#exit_btn
	+boxShadow2
	background: $purple url("../../images/exit_btn.svg") no-repeat center center
	background-size: 50%
	border-radius: 50%
	cursor: pointer
	height: 60px
	line-height: 60px
	text-align: center
	transform: translate(-3rem, 1rem)
	width: 60px

#quiz_container
	+column(center, space-between)
	//background-color: $white
	border-radius: 5px
	height: 100%
	margin-right: 60px
	width: calc(100% - 120px)
	.quiz_nav
		&::before
			background: $purple
			content: ''
		+boxShadow2
		+row
		background: $purple url('../../images/yellowLine.svg') no-repeat center center
		background-size: 71% 5px
		border-radius: 5px
		overflow: hidden
		width: 100%
		>div
			+row(center, space-between)
			max-width: 1200px
			min-width: 320px
			padding: 2rem
			width: 80%
	//.quiz_nav_line::before
	//	content: ''
	//	background-color: $yellow
	//	height: 2px
	//	width: 60%
	//	position: absolute
	//	margin: 0 auto
	// ---- Square Quiz Dots ----- //

	.square, .challenge
		border-radius: 0
		transform: rotate(45deg) scale(.8)
		span
			border-radius: 0
		&::before
			border-radius: 0

	// ---- Challenge Quiz Dot ----- //
	.challenge span
		background-color: unset
		&::before
			+column(center, center)
			+transition
			background-color: $purple
			border: solid 1.5px $yellow
			content: ' '
			height: 31px
			position: absolute
			transform: scale(.7) translate(-12px, -12px)
			width: 31px
		&::after
			+transition
			background-color: $purple2
			content: ''
			height: 15px
			width: 15px
			position: absolute
			transform: translate(1px, 1px)

#quizSection
	+column
	background-color: $white
	border-radius: 5px
	+boxShadow2
	height: 100%
	margin-top: 1rem
	width: 100%
	#quizContent
		height: calc(100% - 60px)
		width: 100%
#quizButtonArea
	+row(center, flex-end)
	align-self: flex-end
	background-color: $purple
	border-bottom-left-radius: 5px
	border-bottom-right-radius: 5px
	height: 6rem
	width: 100%
	button
		+yellowButton
		border-radius: 5rem
		margin-right: 2rem
		padding: 0 1.5rem
#quizData
	display: none

#quizElements
	+column(flex-start, space-between)
	height: 100%

	padding: 3rem
	h1
		margin-bottom: 4rem
	button
		+yellowButton
		background-color: $purple4

.quizTypeTheory
	#quizTF, #quizMC
		display: none

.quizTypeTF
	#quizTheory, #quizMC
		display: none

.quizMC
	#quizTheory, #quizTF
		display: none

.quizAnswers
	height: 200px
	width: 100%
	+row(center, space-evenly)
	flex-wrap: wrap
	div
		+row
		flex-basis: 33%
		width: 100%
		button
			width: 13rem
#quizMC
	height: 100%

#quizDescriptionMC,#quizDescriptionTF
	padding: 2rem
	text-align: center
	background-color: white
	border-radius: 5px
	+boxShadow
	font-size: 1.75rem
	margin-bottom: 3rem


