// #################################
// The Coding Ninja: Responsive
// #################################

@import variables

// ================
// 1700
// ================
@media all and (min-width: 1700px)

	// ---General--- //
	nav
		left: calc(50% - 850px)
	nav, #welcome #welcomeContainer, #howItWorks, #journey, #firstFour, footer #ninjaStories h3, #quiz
		margin: 0 auto
		width: 1700px
	nav, #welcome #welcomeContainer, #firstFour, footer, #ninjaStories h3
		padding-left: 8rem
		padding-right: 8rem

	// ----Home----- //
	#howItWorks
		padding: 8rem 8rem 0
	#journey
		max-height: 90vh
		min-height: 50rem
		padding: 0 8rem
	#journeyBox
		width: 69%
		#journeyText
			max-width: 35rem
	#welcome #welcomeContainer
		left: calc(50% - 850px)

	// ---Library--- //
	.courses_box1_a
		padding: 7rem 1rem
		width: 1700px

	// ----Quiz----- //
	#exit_btn
		transform: translateX(-4rem)



@media all and (max-width: 1450px)

	// ----Quiz----- //
	#quizBox
		padding: 3rem 1rem!important




// ================
// 1250
// ================
@media all and (max-width: 1250px)

	// ---General--- //
	html
		font-size: 90%

	nav, #ninjaStories >h3
		padding: 2rem 4rem
	footer
		background: none
		padding: 10px 4rem

	// ----Home----- //
	#welcome
		background-position: center top
		background-size: cover
		#welcomeContainer
			+column(flex-end, flex-start)
			height: 50rem
			padding: 0 4rem
			#welcomeText, #welcomeRegister
				text-align: center
				transform: translateY(-2rem)
	#welcomeText h2:nth-of-type(2)
		+hide
	#howItWorks
		padding: 7rem 4rem
	#journey, #firstFour, #welcomeContainer
		padding: 0 4rem



@media all and (min-width: 1024px)

	// ---General--- //
	#navLogo
		#logoText
			display: block



// ================
// 1024
// ================
@media all and (max-width: 1024px)

	// ---General--- //
	//For nav check .general.sass
	//===========================
	footer
		padding: 10px 2rem

	// ----Home----- //
	#welcomeContainer
		padding: 20rem 6rem
	#welcome #welcomeFront
		//transform: translateY(-9rem)
	#entranceForms
		height: 35rem
	#welcome:not(.mobileShow)
		#entranceForms
			background: none
			border: 0
			box-shadow: none
			height: 10rem
			h2, img, input, .hr, p, #formTabs, span a
				+hide
	#welcome:not(.mobileShow) #entranceForms form.visibleForm
		justify-content: flex-start

	#howItWorks
		+columnR(center, center)
		min-height: 63rem
		padding: 0 2rem
		div, img
			+transition
			margin: 0
			max-width: 100%
			width: 100%
		div
			+transition
			align-items: flex-start
			height: 23rem
			justify-content: flex-end
			margin-bottom: 3rem
			transform: none
			h2
				+transition
				strong:first-of-type::before
					content: '\A'
					white-space: pre
		img
			+column(center, center)
			.prominent
				width: 100%
			div
				margin-top: 0
			img
				margin-bottom: 3rem
		.prominent
			+transition
			margin-top: 1rem
	#journey
		min-height: 62rem
		padding: 0 2rem
		#journeyBox
			width: 60%
	#firstFour
		padding: 0 2rem
	.dev_thumbnail:last-of-type
		margin: 2rem 0 0
	#ninjaStories >h3
		padding: 2rem

	// ---Library--- //
	.library
		#logoTag
			fill: $white!important
		#logoWhiteBorder
			stroke: $white!important
		#logopaths
			fill: $white!important
		.content_box_wrapper
			padding: 0 1rem
			width: 320px
	.main_course_first
		background: none
	.courses_header_a
		align-self: flex-start
		margin-left: 1.25rem
		right: unset
	#courseContents
		padding: 0
	.course_path
		align-items: flex-start
		flex-direction: column
		margin-top: 3rem
		transform: translateX(7vw)
		width: 15rem
	.course_content_text
		//position: absolute
		transform: translateX(-2rem)
		width: 250%
		//left: calc(50% - 11rem)
		//transform: translateY(-3rem)
	// ----Quiz----- //
	#quiz 
		width: 100%
		margin: 0 1rem
	#exit_btn
		transform: translate(4.5rem, 1rem)
		box-shadow: none
	.course  ul
		transform: none
		& li
			display: none
// ================
// 768
// ================
@media all and (max-width: 768px)

	// ----Home----- //
	#welcome #welcomeFront
		transform: scale(2)!important
	#howItWorks .prominent
		width: 100%
	#journey
		flex-direction: column-reverse
		min-height: 83rem
		padding: 4rem 2rem
		#journeyBox
			align-items: center
			width: 100%
		#journeyText
			max-width: unset
		#ninjaOnAJourney
			transform: translateY(1rem)
	#firstFour
		align-items: flex-start
	.getStarted
		background: none
		div
			+column
			text-align: center
			transform: translate(0rem, -5rem)
	.content_box_wrapper
		+column
		max-width: 300px
		max-width: 452px
		// padding:  0 2rem
		padding: 0 5px
		width: 100%

	// ----Quiz----- //
	#quiz_container
		+column(center, space-evenly)
		width: calc(100% - 120px)
		margin-right: 60px
		height: 100%
		border-radius: 5px
		.quiz_nav
			>div
				//+row(center, space-between)
				padding: 1rem 0
				//width: 100%
				//>div
				//	+row(center, center)
				//	padding: 1rem
				//	// min-width: 320px
				//	transform: scale(.8)
		.dotout
			transform: scale(.7)
		.square, .challenge
			transform: scale(.6) rotate(45deg)
	#exit_btn
		transform: scale(.6) translateX(6rem)

	.course_ninja_img
		margin: 0 auto
		max-width: 360px
		opacity: 0.3
		position: absolute
		transform: translateY(11rem)
		width: 100%

@media all and (max-height: 52rem)
	// ---General--- //
	#welcomeBackGradient
		top: 45rem



@media all and (max-height: 52rem)
	// ---General--- //
	#welcomeBackGradient
		top: 45rem



// ================
// 700
// ================

@media all and (max-width: 700px)
	// ---General--- //
	footer > div
		+columnR
		margin-left: -4px
		.left_foot
			align-items: center

		.right_foot
			align-items: center
	.social
		transform: translateY(-.75rem)

	// ----Home----- //
	.dev_thumbnail:nth-of-type(2n)
		margin: 2rem 0 0 5rem

	// ---Profile--- //
	#profileContainer
		flex-direction: column
		// height: calc(824px + 17rem)
		height: 200vh
		max-height: 1200px
		padding-bottom: 1rem
		#profileForm
			min-width: 320px
			input
				max-width: 15rem




// ================
// ~620
// ================

@media all and (max-width: 620px)

	// ----Home----- //
	#welcomeContainer
		align-items: center
		padding: 20rem 1rem
	#welcome
		background-position: 56% top
		background-size: 1000%
	#ninjaOnAJourney
		max-width: 30rem
		width: 55%

	// ----Quiz----- //
	#quiz_container 
		margin-right: 0 
		width: 100%

	//#quiz_container .quiz_nav
	//	background: #3d2c6f url(../images/yellowLine.svg) no-repeat 60% center
	//
	//.quiz_nav_line
	//	transform: translateX(1rem)
	#exit_btn
		position: absolute
		left: 1rem 
		top: 1rem
		transform: scale(.6) translateX(-1rem) translateY(3.2rem)
	#quizBox 
		padding: 0 



// ================
// 585
// ================
@media all and (max-width: 585px)

	// ---General--- //
	nav
		padding: 2rem 1rem
	.logoBox .logo
		transform: translateY(-1.75rem) scale(.8)
	html::-webkit-scrollbar
		width: 12px

	// ----Home----- //
	#welcome:not(.mobileShow) #entranceForms form.visibleForm
		align-items: center
		justify-content: center
	#welcome #welcomeContainer
		align-items: center
		padding: 2rem
		transform: translateY(-6rem)
		#welcomeText
			text-align: center
			transform: translateY(0rem)
		#entranceForms
			align-items: flex-end
			span a
				margin-right: .5rem
	#howItWorks
		padding: 0 2rem
		div, img
			text-align: left
			width: 100%
		div h2
			align-self: flex-start
			text-align: left
	#journeyText
			max-width: 21rem
			padding-top: 2rem
	#firstFour
		min-height: 100vh
	#ninjaStories
		height: unset
		padding: 2rem 1rem
		.ninjaStoryBox
			+column(center, space-between)
			height: unset
			padding: 1rem 0
			width: 100%
			.story
				margin: 0
				padding: 0
				width: 90%
			.storyteller
				padding-top: 0
				width: 100%
				img
					width: 50%
		h3
			padding: 1.25rem
	.dev_thumbnail:nth-of-type(2n)
		margin: 2rem 0 0 4rem

	.owl-carousel .owl-item img
		display: block
		margin: 0 auto

@media all and (max-width: 510px)
	// ----Home----- //
	.dev_thumbnail:nth-of-type(2n)
		margin: 2rem 0 0 3rem



// ================
// 490
// ================

@media all and (max-width: 490px)
	// ---General--- //
	h1
		font-size: 2.7rem
	strong
		font-size: 2.12rem
	nav, #welcome #welcomeContainer, #welcome:not(.mobileShow) #welcomeContainer, section:not(#welcome), footer, #ninjaStories h3
		padding-left: 1rem
		padding-right: 1rem
	nav .burger
		right: 1rem
	footer
		padding: 0

	// ----Home----- //
	#journey #ninjaOnAJourney
		max-height: 30rem
		transform: translateY(0)
		width: 100%
	#firstFour > div.webdevs_box > div > p:nth-child(3)
		height: 2rem
	.dev_thumbnail
		min-width: 8.5rem
		width: 15%
	.dev_thumbnail strong
			font-size: 1.25rem
	.dev_thumbnail:nth-of-type(2n)
		margin: 2rem 0 0
	.dev_thumbnail:nth-of-type(2)
		margin: 2rem 0 0 3rem
	#journey
		padding-bottom: 0

	// ----Quiz----- //
	.dotout, .square, .challenge
		transform: scale(.6)


@media all and (max-width: 410px)
	// ---General--- //
	.right_foot .footerLinks a
		font-size: .8rem
		letter-spacing: -1px
		margin: 0 0 0 .5rem



// ================
// 375
// ================

@media all and (max-width: 375px)
	// ----Home----- //
	.webdevs_box
		flex-wrap: wrap
	.dev_thumbnail
		margin: 2rem  0 0
		min-width: 8.5rem
		width: 15%
	#journey
		min-height: 95rem
