// ######################################
// The Coding Ninja: Teacher_registration
// ######################################

@import variables

body.teacher_registration
  background: linear-gradient($purple4, transparent 60%, rgba(255, 207, 96, .4) 90%)

  small
    margin-bottom: 10px

.page_container
  +column(center, center)
  height: calc(100vh - 10rem)

#teacher_form_container
  +column(center, center)
  +transition
  +boxShadow
  background-color: $purple
  border: 2px solid $purple4
  border-radius: 5px
  height: 50rem
  width: 30rem

  input
    padding: 1rem 1rem 1rem 1rem

  .formButton
    +transition
    +yellowButton
    margin: 1rem 0 2rem

    &:hover
      box-shadow: 0 12px 18px 4px rgba(125, 104, 73, .5)

  h2
    +transition
    color: $white
    font-variant: small-caps
    padding: 2.5rem 3rem

  span a
    +transition
    color: $white
    cursor: pointer
    display: block
    font-family: Ubuntu Mono, monospace
    font-size: 1rem
    margin-bottom: 2rem
    margin-top: -1 rem
    text-align: center

    &:hover
      color: $yellow

  .hr
    background-color: $white
    border: 0
    color: $white
    height: 1px

  .terms
    color: $white
    padding-top: .25rem

  .terms > a:visited, .terms > a:active, .terms > a:link
    +transition
    color: $white
    font-family: Ubuntu Mono, monospace
    font-size: .8rem
    font-weight: 100
    padding: 1rem 0

    &:hover
      color: $yellow

#teacher_form
  +transition
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  text-align: center

  input
    width: unset
