// #################################
// The Coding Ninja: Main Stylesheet
// #################################

// ================
// Variables: Colors
// ================

// Main Colors
$yellow: #fcb416
$purple: #3d2c6f
$black: #222
$white: #f2f2f2

// Shades
$purple2: #695a94
$purple3: #bdafd6
$purple4: #bdafe4

$yellow2: #ffcf60
$yellow3: #ffe3a2

$gray: #a7a6a5
$gray2: #4f4f4f
$gray3: #383838

$buttonShadow: rgba(120, 75, 30, .6)
$buttonHoverShadow: rgba(157, 115, 54, .5)
$shadow: rgba(34, 34, 34, .65)


//Secondary Misc Colors
$darkPurple: #130b1f
$trueBlack: #000
$pomegranet: #C72846

// ================
// Variables: Text & Other
// ================ 

// Text size
$hero: 72px
$h1: 48px
$h2: 36px
$h3: 28px
$h4: 24px
$ease: cubic-bezier(.215, .61, .355, 1)



// ================
// Mixins & Extends
// ================

=row($a: center, $j: center)
	align-items: $a
	display: flex
	justify-content: $j

=column($a: center, $j: center)
	align-items: $a
	display: flex
	flex-direction: column
	justify-content: $j

=columnR($a: center, $j: center)
	align-items: $a
	display: flex
	flex-direction: column-reverse
	justify-content: $j

=transition
	transition: .55s cubic-bezier(.215, .61, .355, 1)
=transition2
	transition: .35s cubic-bezier(.215, .61, .355, 1)

=boxShadow
	box-shadow: $shadow 2px 2px 26px 3px
=boxShadow2
	box-shadow: $shadow 2px 6px 20px 2px

=yellowButton
	+transition
	background-color: $yellow
	border: 0
	border-radius: 5px
	box-shadow: 1px 4px 9px 1px $buttonShadow
	color: $black
	cursor: pointer
	height: 3rem
	padding: 0 2rem
	text-decoration: none
	text-transform: uppercase
	&:hover
		background-color: $yellow2
		box-shadow: 0 12px 18px 4px $buttonHoverShadow
		color: $black
		transform: translateY(- 5px) translateZ(0)

=hide
	height: 0
	margin: 0
	padding: 0
	transform: scale(0)

=shadow2
	box-shadow: 13.98px 13.98px 9.98px rgba(0, 0, 0, .5)
